In [61]:
import pandas as pd
dataframe = pd.read_csv("titanic.csv")
inputs = dataframe.drop(['PassengerId', 'Survived', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)
inputs.head()
len(dataframe.index)

891

In [55]:
target = dataframe['Survived']
target.head()
target.size

891

In [68]:
from sklearn.preprocessing import LabelEncoder
le_Pclass = LabelEncoder()
le_Sex = LabelEncoder()
le_Age = LabelEncoder()
le_Fare = LabelEncoder()

encodedDf['le_Pclass'] = le_Pclass.fit_transform(inputs['Pclass'])
encodedDf['le_Sex'] = le_Sex.fit_transform(inputs['Sex'])
encodedDf['le_Age'] = le_Age.fit_transform(inputs['Age'])
encodedDf['le_Fare'] = le_Fare.fit_transform(inputs['Fare'])

encodedDf

     le_Pclass  le_Sex  le_Age  le_Fare
0            2       1      28       18
1            0       0      51      207
2            2       0      34       41
3            0       0      47      189
4            2       1      47       43
..         ...     ...     ...      ...
886          1       1      35       85
887          0       0      24      153
888          2       0      88      131
889          0       1      34      153
890          2       1      42       30

[891 rows x 4 columns]

In [69]:
encodedDf.head()

   le_Pclass  le_Sex  le_Age  le_Fare
0          2       1      28       18
1          0       0      51      207
2          2       0      34       41
3          0       0      47      189
4          2       1      47       43

In [106]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(encodedDf, target, test_size=0.2, random_state=0)

In [72]:
print(len(encodedDf.index), len(target))

891 891

In [107]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)

model.predict(X_test)
model.score(X_test, y_test)

0.7988826815642458